<div class="bg-green-200 relative max-w-md mx-auto xl:max-w-2xl min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-xl mt-16">
    <div>
      <%= @exercice.name %> : <%= @exercice.length %>
    </div>
    <div>
      <%= @exercice.description %>
    </div>
       <div>
      <button>Add</button>
    </div>
</div>
