<div class="container mx-auto px-4 py-4 max-w-4xl bg-white rounded-lg max-h-screen text-center">

  <div class="text-xl">Bienvenue !</div>

  <div class= "grid grid-cols-2 gap-4">
  <% @exercices.each do |exe| %>
    <%= render(ExerciceCardComponent.new(exercice: exe)) %>
  <% end %>
  </div>
</div>
